* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.container{
    width: 1140px;
    height: 100%;
    margin: 0px auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

#p-content{
    text-transform: capitalize;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#p-content:hover,
#p-content:active {
    background: #dbdbdb;
    border: 1px solid rgb(129, 129, 129);
}